aws_profile = "profilename"
aws_key_pair_file = "pathtokey"
aws_key_pair_name = "keyname"
tag_customer = "customername"
tag_project = "chef_ad_hoc_demo"
tag_name = "yourname"
tag_dept = "sales"
tag_contact = "youremail"
tag_application = "chef-ad-hoc"
