aws_profile = "default"
aws_key_pair_file = "~/.ssh/PATH_TO_KEY"
aws_key_pair_name = "KEY_NAME"
tag_customer = "testing"
tag_project = "chef_ad_hoc_demo"
tag_name = "name"
tag_dept = "department"
tag_contact = "e-mail"
tag_application = "chef-ad-hoc"
tag_ttl = 4
windows_admin_password = "windows admin password goes here"