aws_profile = "default"
aws_key_pair_file = "~/.ssh/ecalabretta_sa"
aws_key_pair_name = "ecalabretta_sa"
tag_customer = "testing"
tag_project = "chef_ad_hoc_demo"
tag_name = "ericcalabretta"
tag_dept = "sales"
tag_contact = "ecalabretta@chef.io"
tag_application = "chef-ad-hoc"
tag_ttl = 4